@model IEnumerable<HiveData.Models.Image>
@{
    ViewBag.Title = "Album";
}

<h2>Album</h2>

<hr />

@foreach (var item in Model)
{
    <div class="col-md-4">
        <div class="image">
            <a asp-action="Details" asp-controller="Images" asp-route-id="@item.ImagePath">
                <img src="~/@item.ImagePath" width="340" height="340" />
            </a>
        </div>
        @Html.ActionLink("Make Profile Picture", "MakeProfilePicture", new {Imagepath = item.ImagePath } )
    </div>
}
