@model HiveData.Models.UserProfile
@{ 
   
    ViewBag.Title = "Settings";     
}

<h2>Settings</h2>

<ul>
    <li>@Html.ActionLink("View Account Details", "AccountDetails", "Profile")</li>
    <li>@Html.ActionLink("Edit Profile", "Edit")</li>
    <li>@Html.ActionLink("Change your password", "ChangePassword", "Manage")</li>
    <li>@Html.ActionLink("Delete Account", "Delete", "???")</li>

</ul>