@model HiveData.Models.Image
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "View Image";
}

<div class="container">
    <div class="row profile">
        <div class="col-md-3">
            <div class="album-sidebar">
                <div class="profile-usermenu">
                    <ul class="nav">
                        <li class="active">
                            <a href="@Url.Action("Index","Album")">
                                <i class="glyphicon glyphicon-arrow-left"></i>
                                Go back
                            </a>
                        </li>
                        @if (ViewBag.IsUser)
                        {
                            <li>
                                <a href="@Url.Action("")">
                                    <i class="glyphicon glyphicon-picture"></i>
                                    Set Profile Picture
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("")">
                                    <i class="glyphicon glyphicon-remove"></i>
                                    Delete Image
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>

        </div>
        <div class="col-md-4">
            <div class="profile-content">
                <div class="col-md-10 col-sm-4 col-xs-6">
                    <img class="img-responsive img-responsive-alt" src="~/@Model.ImagePath" />
                </div>
            </div>
        </div>
    </div>
</div>
