@model HiveData.ViewModels.AlbumImageViewModel
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "ViewAlbum";    
}

<div class="container">
    <div class="row profile">
        <div class="col-md-3">
            <div class="album-sidebar">

                <div class="profile-usermenu">
                    <ul class="nav">
                        <li class="active">
                            <a href="@Url.Action("Index","Album")">
                                <i class="glyphicon glyphicon-arrow-left"></i>
                                Go back
                            </a>
                        </li>
                        @if (ViewBag.IsUser)
                        {
                            <li>
                                <a href="@Url.Action("DeleteAlbum", "Album", new { id = Model.Album.AlbumId })">
                                    <i class="glyphicon glyphicon-remove"></i>
                                    Delete Album
                                </a>
                            </li>
                            <li>
                                <p class="crt-album-txt">Upload a new image.</p>
                                @using (Html.BeginForm("AddImageToAlbum", "Album", new {id = Model.Album.AlbumId }, FormMethod.Post, new { enctype = "multipart/form-data" }))
                                {
                                    @Html.AntiForgeryToken()

                                    <input type="file" name="UploadImage" id="fileToUpload" class="upload-image-input" required>
                                    <input type="submit" value="Save" name="submit" class="submit-album-btn">

                                }
                            </li>
                        }
                    </ul>
                </div>

            </div>

        </div>

        <div class="col-md-9">
            <div class="profile-content">

                @if (Model.Images.Any(i => i != null))
                {

                    foreach (var item in Model.Images)
                    {
                        <div class="col-md-3 col-sm-4 col-xs-6">
                            <a href="@Url.Action("ViewImage", "Album", new { id = item.ImageId, isUser = ViewBag.IsUser })">
                            <img class="img-responsive img-rounded" src="~/@item.ImagePath" />
                            </a>
                        </div>
                    }
                }
                else
                {
                    <div>
                        <p>This album is empty</p>

                    </div>
                }
            </div>
        </div>
    </div>
</div>





