@{
    ViewBag.Title = "Welcome.";
}
<div class="jumbotron Welcome-Jumbo">
    <h1>@ViewBag.Title</h1>
    <p>Movie lovers... You're home</p>

    <p>
        @Html.ActionLink("Get Started", "Register", "Account", new { }, new { @class = "btn btn-primary btn-lg flex-parent btn-extension" })
    </p>


</div>

<p class="already-account"> Already with us? @Html.ActionLink("Sign in here", "Login", "Account", new { }, new { @class = "Signin" })</p>




