<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/f86f5c6d-a0cb-4989-9bcb-72ab023b4d27/resourcegroups/Cinehive20210422170755ResourceGroup/providers/Microsoft.Web/sites/Cinehive</ResourceId>
    <ResourceGroup>Cinehive20210422170755ResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://cinehive.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>cinehive.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Cinehive</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Cinehive</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="CineHiveContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:cinehivedbserver.database.windows.net,1433;Initial Catalog=Cinehive_db;User ID=joshConn@cinehivedbserver;Password=roboto909" Name="Data Source=tcp:cinehivedbserver.database.windows.net,1433;Initial Catalog=Cinehive_db;User Id=joshConn@cinehivedbserver;Password=roboto909" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="HiveData.Repository.CineHiveContext, HiveData" MigrationConfiguration="Cinehive.HiveData.Migrations.Configuration, HiveData" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="CineHiveContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:cinehivedbserver.database.windows.net,1433;Initial Catalog=Cinehive_db;User Id=joshConn@cinehivedbserver;Password=roboto909</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>